.movie-card {
  background-color: #eee;
  margin: 1em;
  width: 220px;
  box-shadow: 2px 2px 5px #333;
}

.movie-card__img {
  background-color: #555;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  color: #eee;
  height: 300px;
  margin: 0;
  padding: 50% 1em;
  text-align: center;
  width: 220px;
}

.movie-card__text {
  padding: 1.25em;
  font-size: 1.1em; 
}

.movie-card__text h2 {
  margin: 0;
}

.movie-card__img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.movie-card__img img[alt*="Poster"] {
  font-style: italic;
  line-height: 80px;
  text-align: center;
}