.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner__svg circle {
  fill: none;
  stroke: slategray;
  stroke-width: 10;
  stroke-linecap: square;
  stroke-dasharray: 0, 0, 70, 194;
  stroke-dashoffset: 0;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}

@keyframes spin {
  to {
    stroke-dashoffset: -264;
  }
}
